*
{
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
    background-color: seashell;
}

.button {
    display: flex;
    /* border: 1px solid black; */
}

.grid {
    display: grid;
    
    margin-top: 20px;
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;

    /* border: 8px solid rgb(210, 166, 166); */
    border-radius: 10px;

    background-color: seashell;
    background-color: blanchedalmond;
    /* gap: 1px; */
}

.grid > .square {
    /* opacity: 25%; */
    border-radius: 2px;
    transition: 800ms;
}

.grid > .square:hover {
    background-color: rgb(242, 65, 6);  
    transition: 150ms;
}