:root {
    --columns_and_rows: 
}

*
{
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.grid {
    display: grid;

    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;

    gap: 1px;
}

.grid > .square {
    border: 1px solid rgb(24, 30, 36);
}

.grid > .square:hover {
    background-color: rgb(155, 204, 156);
}